{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="card auth-card">
    <h2>Вход</h2>

    {% if error %}
        <div class="error-box">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>Имя пользователя</label>
        <input type="text" name="username" required>

        <label>Пароль</label>
        <input type="password" name="password" required>

        <button type="submit">Войти</button>
    </form>

    <p class="small-link">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}