{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="card auth-card">
    <h2>Регистрация</h2>

    {% if form.errors %}
        <div class="error-box">{{ form.errors }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Создать аккаунт</button>
    </form>

    <p class="small-link">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}